# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
metro-cache

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS/IDE files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.iml
*.pem

# local env files
.env*.local

# Android build files
/android/.gradle/
android/app/build/
android/app/debug.keystore

# iOS build files
/ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata/

# typescript
*.tsbuildinfo

app-example